<div class="makeblog-l-header" role="banner">
	{{#if @blog.logo}}
		<a href="{{@blog.url}}" class=""><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		<a class="makeblog-title" href="{{@blog.url}}">{{@blog.title}}</a>
	{{/if}}
</div>