<!doctype html>
<html lang="en">
<head>
	{{! Document settings }}
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/assets/images/favicon.ico" />

	{{! Page meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}">

	{{! Styles }}
	<link rel="stylesheet" href="/assets/css/style.css">
	
	{{! Responsive }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{#post}}
		<meta property="og:title" content="{{title}}"/>
		<meta property="og:content" content="{{excerpt}}"/>
		<meta property="og:image" content="{{ @blog.url }}{{ @blog.logo}}" />
		<meta property="og:type" content="blog" />
		<meta property="og:site_name" content="{{@blog.title}}"/>
		<meta property="og:url" content="{{ url absolute="true" }}"/>
	{{/post}}

	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}

	{{ghost_foot}}
	<script src="/assets/js/script.js"></script>
</body>
</html>