{{!< default}}
{{> header }}


<div class="makeblog-l-wrapper">
	<main class="makeblog-l-main" role="main">
		{{#foreach posts}}
			<article class="makeblog-article theme-margin" role="article">
				<header class="makeblog-postheader">
					<h1 class="makeblog-posttitle">
						<a href="{{{url}}}" rel="bookmark">{{title}}</a>
					</h1>
					<a class="arrow" href="{{{url}}}"><img src="assets/images/arrow.png" alt="" /></a>
					<time class="makeblog-date" datetime="{{date format="YYYY--MM-DD"}}">
						{{date format="dddd DD MMM YYYY"}}
					</time>
					<div class="makeblog-postcontent">
						{{{excerpt}}}
					</div>
					<a class="read-more" href="{{{url}}}">Les mer &raquo;></a>
				</header>
				{{#if tags}}
				<div class="makeblog-posttags" data-tag="{{ tags }}">
					{{ tags separator=" | "}}
				</div>
				{{/if}}
			</article>
		{{/foreach}}

		{{#if pagination }}
			<div class="makeblog-pagination">
				{{{pagination}}}
			</div>
		{{/if}}
	</main>
</div>

{{> footer}}

