{{!< default}}
{{> header }}


<div class="makeblog-l-wrapper">
	<main class="makeblog-l-main" role="main">
		{{#post}}
		<article class="makeblog-article theme-margin" role="article">
			<header class="makeblog-postheader">
				<h1 class="makeblog-posttitle">{{title}}</h1>
				<time class="makeblog-date" datetime="{{date format="YYYY--MM-DD"}}">
					{{date format="dddd DD MMM YYYY"}}
				</time>
				<div class="makeblog-postcontent">
					{{{content}}}
				</div>
			</header>
			{{#if tags}}
			<div class="makeblog-posttags" data-tag="{{ tags }}">
				{{ tags separator=" | "}}
				<div class="back">
					<a href="javascript: history.back();">
						<img src="/assets/images/arrow.png" alt="" /> 
						<span>Go back</span>
					</a>
				</div>
			</div>
			{{/if}}
		</article>
		
		{{/post}}
	</main>
</div>

{{> footer}}
